@model ASP_P15.Data.Entities.ProductGroup

<div class="product-card">
    <img src="/Home/Download/Shop_@Model.Image" class="product-img" />
    <div class="product-text">
        <h3>@Model.Name</h3>
        <p>@Model.Description</p>
    </div>
    <div class="product-cart">
        <button type="submit">Подивитись</button>
    </div>
</div>
